*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* border:1px solid red; */
}

body{
    margin:0 auto;
    height:100%;
}

.container{
    height:100%;
}

/* HEADER STYLING */
header{
    padding:10px;
    background-color: #1F2937;
    height:70vh;
    display:flex;
    flex-flow:column nowrap;
}

nav{
    display:flex;
    justify-content: space-between;
    width:80%;
    margin:0 auto;
}

nav h2{
    font-size: 24px;
    color:#f9faf8;
}

nav ul{
    display:flex;
    align-items: center;
    gap: 25px;
}

ul li , a{
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    color:#E5E7EB;
}

.header-content{
    display:flex;
    gap: 50px;
    width:80%;
    margin:0 auto;
    margin-top:100px;
}

.header-left-content{
    width:50%;
    display:flex;
    flex-direction: column;
    gap: 10px;
    color:#f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.header-left-content p, .header-left-content button{
    font-size: 18px;
    color:#E5E7EB;
}

.header-left-content button{
    width:100px;
    padding:5px 0;
    border-radius: 8px;
    background-color: #3882f6;
    border: 0px solid black;
}

.header-img{
    border:1px solid black;
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:gray   ;
}

/* END HEADER STYLES */


/* MAIN STYLING */

/* INFO */
.information{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    width:80%;
    margin: 0px auto;
    gap:40px;
    margin-top:40px;
    height:52vh;
}

.information h3{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
    /* margin-bottom:40px; */
}

.information .info-content{
    display:flex;
    text-align: center;
    justify-content: center;
    width:80%;
    margin: 0px auto;
    margin-bottom:80px;
    /* gap:20px; */
}

.info-content div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:70%;
    gap: 10px;
}

.info-imgs{
    border:3px solid #3882f6;
    padding:50px;
    border-radius: 15px;
    width: 100%;
}
/* END INFO */


/* QUOTE STYLES */
    .quote{
        background-color:#E5E7EB;
    }

    .quote-content{
        width:60%;
        margin: 0 auto;
        height:52vh;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .quote-content h4{
        font-size: 36px;
        color:#1f2937;
    }

    .quote-content p{
        align-self: flex-end;
        font-weight: bold;
        margin-right:20px;
    }

/* END QUOTE */

/* END MAIN STYLES */


